.placerelease1, .placerelease2 {
	margin: 0 5px 0 0;
}
.listfeatureslide li {
	margin: 0;
}
.ui-tabs-panel {
	background: url(../images/introie7.png) no-repeat 10px 3px;
}
.textpopup1 span {
	margin: -15px 0 0 0;
}
#content {
	padding: 0 17px;
}
#menufooter {
	margin: -5px 0 0 0;
}